@CHARSET "UTF-8";

#loginForm { text-align: center; width: 550px; margin: 10px auto; font: normal 14px 'Lucida Grande',Verdana,Arial,sans-serif; }
#loginForm p, #otherLogins p { text-align: center; padding: 1em 0; }
#loginForm label { display: inline-block; text-align: left; width: 100px; padding: 5px 0; font-size: 16px; }
#loginForm .errors { }
#loginForm .input { padding: 5px 0; }
#loginForm .input input { width: 400px; font-size: 16px; padding: 0.25em; }
#loginForm .submit input { padding: 5px; font-size: 16px; }
#loginForm .submit { padding: 10px; }

#associationWrapper { width: 1000px; min-height: 150px; text-align: center; margin: 50px auto; }
.associate { width: 500px; float: left; }
.associate .login { 
    width: 250px; margin: 0 auto;
    -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#facebook .login { background-color: #3B5997; padding: 10px 20px 13px 20px; }
#google .login { padding: 10px 20px 11px 20px; }


